<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SportyShoes</title>
</head>
<body>
<nav  >
   <div>
    <h1>SportyShoes</h1>
        <table style="Color:red;position: absolute;top: 8px;right: 16px;font-size: 14px;top:3%;">
            <td> <a th:href="@{/admin}" href="#">Admin-home</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td> <a  th:href="@{/logout}" href="#">Logout</a></td>
        </table>
                
    </div>
</nav>
<div  style="color:white;text-align: center; border: 5px outset;
background-color: darkblue;">
    <h1>Welcome back, Sanu</h1>
    <p>Easily manage your data from this admin</p>
</div>
<div >
    <div >
        <div   >
            <div   style="position: absolute; top:30%; left: 150px ;background-color:white;">
                <div >
                    <h4 >Categories</h4>
                    <p >Manage the categories section here.</p>
                    <button><a href="#" th:href="@{/admin/categories}">Manage</a></button>

                </div>
            </div>
        </div>
        <div >
            <div  style="position: absolute; top:30%; left: 500px ;background-color:white;">
                <div >
                    <h4 >Products</h4>
                    <p>Manage all the products here.</p>
                    <button><a href="#" th:href="@{/admin/products}">Manage</a></button>

                </div>
            </div>
        </div>
        
        <div  >
            <div  style="position: absolute; top:30%; left: 800px ;background-color:white;">
                <div >
                    <h4 >Registered Users</h4>
                    <p  >See All Registered Users Here.</p>
                    <button><a href="#" th:href="@{/admin/users}">List Users</a></button>

                </div>
            </div>
        </div>
        
        <div   >
            <div  style="position: absolute; top:30%; left: 1150px ;background-color:white;">
                <div >
                    <h4  >Purchase Report</h4>
                    <p  >See Purchase Report Here</p>
                    <button><a href="#" th:href="@{/admin/purchaseReport}">Purchase Report</a></button>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>